/* Fonts */
:root {
    --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Montserrat",  sans-serif;
    --nav-font: "Poppins",  sans-serif;
    --default-color: #fff;
    --text-color: #333;
    --focus-color: #a41d21; 
    --hover-color: #ffc107;
    --black-color: #000000;
  }
  

  
  /* Smooth scroll */
  :root {
    scroll-behavior: smooth;
  }
  
  /*--------------------------------------------------------------
  # General Styling & Shared Classes
  --------------------------------------------------------------*/
  body {
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: var(--default-font);
  }
  
  a {
    color: var(--text-color);
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    color: color-mix(in srgb, var(--text-color), transparent 25%);
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--text-color);
    font-family: var(--heading-font);
  }
  
#main {
    margin-top: 60px;
    padding: 20px 30px;
}

.card {
  border-radius: 20px;
}

.modal-header{

  border-radius: 28px 28px 0 0;
}
.modal-content {
  border-radius: 30px;
}

.btn {
  border-radius: 15px;
}
/* team */
#verify-btn {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  border-color: var(--focus-color);
  color: var(--focus-color);
}

#verify-btn:hover {
  background: var(--focus-color);
  border-color: var(--focus-color);
  color: var(--default-color);
}

/* end team */


/* publication */
#publication-btn {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  border-color: var(--focus-color);
  color: var(--focus-color);
}

#publication-btn:hover {
  background: var(--focus-color);
  border-color: var(--focus-color);
  color: var(--default-color);
}

#public-modal-botton-save {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  border-color: var(--focus-color);
  color: var(--focus-color);
}


#public-modal-botton-save:hover {
  background: var(--focus-color);
  border-color: var(--focus-color);
  color: var(--default-color);
}

#public-modal-botton-close {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.btn-outline-custom {
  background-color: transparent; /* Transparent background for outline */
  border-color: 2px solid var(--focus-color); /* Border color */
  color: var(--focus-color); /* Text color */
  padding: 0.5em 1em; /* Padding for the button */
  border-radius: 0.25rem; /* Rounded corners */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.btn-outline-custom:hover {
  background-color: var(--focus-color); /* Background color on hover */
  color: var(--default-color); /* Text color on hover */
}

#publication-edit-btn {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  border-color: var(--hover-color);
  color: var(--hover-color);
}

#publication-edit-btn:hover {
  background: var(--hover-color);
  border-color: var(--hover-color);
  color: var(--black-color);
}

#updatebtn-close {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

#updatebtn-save {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  border-color: var(--focus-color);
  color: var(--focus-color);
}

#updatebtn-save:hover {
  background: var(--focus-color);
  border-color: var(--focus-color);
  color: var(--default-color);
}

#file-table {
  color: var(--focus-color);
}

#file-table:hover {
  color: var(--hover-color);
}

#link-table {
  color: var(--focus-color);
}

#link-table:hover {
  color: var(--hover-color);
}
/* end publication */