/* Fonts */
:root {
    --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Montserrat",  sans-serif;
    --nav-font: "Poppins",  sans-serif;
    --default-color: #fff;
    --text-color: #333;
    --focus-color: #a41d21; 
    --hover-color: #ffc107;
    --black-color: #000000;
  }
  

  
  /* Smooth scroll */
  :root {
    scroll-behavior: smooth;
  }
  
  /*--------------------------------------------------------------
  # General Styling & Shared Classes
  --------------------------------------------------------------*/

  body {
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: var(--default-font);
  }

  
  a {
    color: var(--text-color);
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    color: color-mix(in srgb, var(--text-color), transparent 25%);
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--text-color);
    font-family: var(--heading-font);
  }
  
#main {
    margin-top: 60px;
    padding: 20px 30px;
}

.card {
  border-radius: 25px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

table th,
table td {
  font-size: 14px;
  border: 0.5px solid #fff;
}

.modal-header{
  border-radius: 28px 28px 0 0;
  background: var(--focus-color);
}

.modal-content {
  border-radius: 30px;
  overflow: hidden; 
}

/* Set a maximum height for the modal body and enable scrolling */
.modal-dialog {
  display: flex;
  flex-direction: column;
}

.modal-body {
  overflow-y: auto; /* Enable vertical scrolling */
  flex: 1 1 auto;
  padding: 1rem;
  max-height: 70vh; /* Adjust as needed to fit content within the modal */
}

/* Optional: Style the scrollbar for better appearance */
.modal-body::-webkit-scrollbar {
  width: 8px;
}

.modal-body::-webkit-scrollbar-thumb {
  background-color: var(--focus-color);
  border-radius: 4px;
}

.form-group span {
  color: var(--focus-color);
}

@media (max-width: 576px) {

  #main {
    margin-top: 60px;
    padding: 5px 10px;
  }

  .modal-dialog {
      max-width: 75%; /* Modal width on small screens */
      margin-left: 15%; /* Margin around modal */
  }

  .modal-content {
      font-size: 14px; /* Adjust font size for readability on small screens */
  }

  .view-modal .modal-content {
    font-size: 10px;
  }

  .view-modal .modal-dialog {
    max-width: 98%; /* Modal width on small screens */
    margin-left: 0%;
  }

}


@media (max-width: 1920px) {
  .view-modal  {
    margin-left: 23%;
    max-width: 78%;
  }
  .edit-modal {
    margin-left: 5%;
  }
  .add-modal {
    margin-left: 5%;
  }
}


.btn {
  border-radius: 15px;
}

.docu-title {
  color: var(--focus-color)
}

/* admin team -----------------------------------------------------------------------------------------------*/
#verify-btn {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  border-color: var(--focus-color);
  color: var(--focus-color);
}

#verify-btn:hover {
  background: var(--focus-color);
  border-color: var(--focus-color);
  color: var(--default-color);
}

/* end team --------------------------------------------------------------------------------------------*/



/* General Dashboard Design ----------------------------------------------------------------------------------------------- */

/* Admin --------------------------------------------------------------------------------------------------------------------*/
.greeting-containerAdmin {
  display: flex; /* Makes the child elements line up horizontally */
  align-items: center; /* Vertically center the elements */

  margin-top: -20px;  /* Extend background upwards */
  margin-left: -30px; /* Extend background to the left */
  margin-right: -30px; /* Extend background to the right */
  padding: 10px 20px; /* Optional, adds padding inside the container */
}

.greeting-containerAdmin  h4{
  margin-top: 12px;
  color:var(--black-color);
}

/* Styling for the greeting */
.greetingAdmin {
  font-size: 1.5em;
  margin-right: 10px; /* Space between the greeting and the name */
  color: var(--black-color);
}

#quoteAdmin,
#authorAdmin {
color: var(--black-color)
}

#dashboard-cards-admin {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  color: #3170AB;
  text-decoration: none;
}

.research-card .bx-file-find {
  color: #ceb66f;
  font-size: 30px;
}

.publications-card .bx-globe {
  color: #bb8082;
  font-size: 30px;
}

.presentations-card .bx-spreadsheet {
  color: #608BC1;
  font-size: 30px;
}

.research-card .card-title,
.publications-card .card-title,
.presentations-card .card-title,
.activity-logs .card-title,
.announcement .card-title{
  color: #3170AB;
}

#linechart-report {
  opacity: 0;
}

#publication-card-spacing,
#research-report-spacing,
#activity-logs-report-spacing {
  display: none;
}

#announcement-report-spacing {
  opacity: 0;
}

@media (max-width: 768px) {

  #publication-card-spacing,
  #research-report-spacing,
  #activity-logs-report-spacing  {
    display: block;
    opacity: 0;
  }

.research-card .card-title,
.publications-card .card-title,
.presentations-card .card-title,
.reports .card-title,
.activity-logs .card-title,
.announcement .card-title,
.research-card h6,
.publications-card h6,
.presentations-card h6
{
  font-size: 15px;
}
  
}


/* ---------------------------------------------------------------------------------------------------------------------------- */


/* Users Dashboard ------------------------------------------------------------------------------------------------------------ */
.dashboard-user {
  position: relative;
  height: 94vh;
  padding: 20px 30px;
  margin-top: -25px;
  margin-bottom: -20px;
  margin-left: -30px;
  margin-right: -30px;
  justify-content: center;
  align-items: center;
  color: white;
  background-size: cover; /* Ensure the background covers the entire area */
  transition: background-image 1s ease; /* Smooth transition for background change */
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}


/* Button responsiveness for smaller screens */
@media (max-width: 768px) {

  .dashboard-user {
    height: 165vh;
    overflow: hidden; 
  }
}

@media (max-width: 1600px) {

  .dashboard-user {
    height: 170vh;
    overflow: auto; 
  }
}

.activity-label {
  font-size: 12px;
  color: #a41d21;
}


/* This is the container that holds both elements side by side */
.greeting-container {
      display: flex; /* Makes the child elements line up horizontally */
      align-items: center; /* Vertically center the elements */
      background-color: rgba(255, 255, 255, 0.3);
      margin-top: -20px;  /* Extend background upwards */
      margin-left: -30px; /* Extend background to the left */
      margin-right: -30px; /* Extend background to the right */
      padding: 10px 20px; /* Optional, adds padding inside the container */
      text-shadow: 1px 1px 1px black;
}

.greeting-container  h4{
  margin-top: 12px;
  color:var(--default-color);
}

/* Styling for the greeting */
.greeting {
      font-size: 1.5em;
      margin-right: 10px; /* Space between the greeting and the name */
}

#quote,
#author {
  margin-left: -10px;
  text-shadow: 2px 1px 1px black;
}

#dashboard-cards,
#user-actlogs {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  color: #3170AB;
  text-decoration: none;
}


/* Button responsiveness for smaller screens */
@media (max-width: 768px) {

.greeting-container h4 {
  font-size: 1em;
  margin-top: 10px;
}


/* Styling for the greeting */
.greeting {
    font-size: 1em;
    margin-right: 10px; /* Space between the greeting and the name */
}

/* Increase tooltip width for smaller screens */
.tooltip-inner {
      white-space: pre-line;  /* Allow content to wrap into multiple lines */
      word-wrap: break-word;
      margin-left: 60px;  /* Allow long words to break and wrap */
  }

#dashboard-cards .card-title{
    font-size: 14px;
}

.announcements .activity-label,
.actlogs .activity-label {
  font-size: 10px
}

.announcements strong,
.announcements p {
    font-size: 14px
  }

.actlogs p {
  font-size: 14px
}

}

/* Increase tooltip width */
.tooltip-inner {
      max-width: 500px;  /* Adjust this value as needed */
      white-space: pre-line;  /* Allow content to wrap into multiple lines */
      word-wrap: break-word;  /* Allow long words to break and wrap */
  }

#announcements {
  display: none;
}

/* Button responsiveness for smaller screens */
@media (max-width: 768px) {

  #announcements  {
    display: block;
    opacity: 0;  /* Start with no opacity */
    transition: opacity 0.3s ease;  /* Optional smooth transition */
  }
  
}  

/* General Buttons and tables design ------------------------------------------------------------------------------------------------------ */

#add-btn {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  border-color: var(--focus-color);
  color: var(--focus-color);
}

#add-btn:hover {
  background: var(--focus-color);
  border-color: var(--focus-color);
  color: var(--default-color);
}

#public-modal-botton-save {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  border-color: var(--focus-color);
  color: var(--focus-color);
}


#public-modal-botton-save:hover {
  background: var(--focus-color);
  border-color: var(--focus-color);
  color: var(--default-color);
}

#public-modal-botton-close {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.btn-outline-custom {
  background-color: transparent; /* Transparent background for outline */
  border-color: 2px solid var(--focus-color); /* Border color */
  color: var(--focus-color); /* Text color */
  padding: 0.5em 1em; /* Padding for the button */
  border-radius: 0.25rem; /* Rounded corners */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.btn-outline-custom:hover {
  background-color: var(--focus-color); /* Background color on hover */
  color: var(--default-color); /* Text color on hover */
}

#edit-btn,
#updatebtn-save {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  border-color: var(--focus-color);
  color: var(--focus-color);
}

#edit-btn:hover {
  background: var(--hover-color);
  border-color: var(--hover-color);
  color: var(--black-color);
}

#updatebtn-close {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

#updatebtn-save:hover {
  background: var(--hover-color);
  border-color: var(--hover-color);
  color: var(--default-color);
}

#view-btn,
#print-btn {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

#file-table,
#link-table {
  text-decoration: underline;
  color: var(--focus-color)
}

#file-table:hover,
#link-table:hover {
  color: var(--hover-color);
}

/* Add rounded corners to the outer table */
table th:first-child {
  border-top-left-radius: 20px;
}

table th:last-child {
  border-top-right-radius: 20px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 20px;
}
  
table tr:last-child td:last-child {
  border-bottom-right-radius: 20px;
}

table.table-announcement thead th {
  background-color: #cebfc2; /* Replace with your desired color */
}

table.table-announcement tbody td {
  background-color: #f5f1f2; /* Replace with your desired color */
}

table.table-activity-logs thead th {
  background-color: #b1c5b1; /* Replace with your desired color */
}

table.table-activity-logs tbody td {
  background-color: #ecfaea; /* Replace with your desired color */
}

table.table-team thead th {
  background-color: #aa99b6; /* Replace with your desired color */
  color: #000; /* Change text color if needed */
}

table.table-team tbody td {
  background-color: #f9f5fc; /* Replace with your desired color */
  color: #000; /* Change text color if needed */
}


table.table-documentation thead th {
  background-color: #95bea2; /* Replace with your desired color */
  color: #000; /* Change text color if needed */
}

table.table-documentation tbody td {
  background-color: #f0fff5; /* Replace with your desired color */
  color: #000; /* Change text color if needed */
}

table.table-presentation thead th {
  background-color: #608BC1; /* Replace with your desired color */
  color: #000; /* Change text color if needed */
}

table.table-presentation tbody td {
  background-color: #ebf4ff; /* Replace with your desired color */
  color: #000; /* Change text color if needed */
}

table.table-publications thead th {
  background-color: #bb8082; /* Replace with your desired color */
  color: #000; /* Change text color if needed */
}

table.table-publications tbody td {
  background-color: #fff7f7; /* Replace with your desired color */
  color: #000; /* Change text color if needed */
}

table.table-research thead th {
  background-color: #ceb66f; /* Replace with your desired color */
  color: #000; /* Change text color if needed */
}

table.table-research tbody td {
  background-color: #faf8f0; /* Replace with your desired color */
  color: #000; /* Change text color if needed */
}

#centers-card {
  background: #f8f0e8;
}

table.centers-table thead th {
  background-color: #f7dec5; /* Replace with your desired color */
  color: #000; /* Change text color if needed */
}

table.centers-table tbody td {
  background-color: #f8f0e8; /* Replace with your desired color */
  color: #000; /* Change text color if needed */
}


/* Team Users design --------------------------------------------------------------------------------------------------------*/


#personal-info-team {
background: #f9f5fc ;
}

#user-team-table tr th:nth-child(3) {
  background-color: #ceb66f;
}

#user-team-table tr td:nth-child(3) {
  background-color: #faf8f0;
  font-size: 18px;
}

#user-team-table tr th:nth-child(4) {
  background-color: #bb8082;
}

#user-team-table tr td:nth-child(4) {
  background-color: #fff7f7;
  font-size: 18px;
}

#user-team-table tr th:nth-child(5) {
  background-color: #608BC1;
}

#user-team-table tr td:nth-child(5) {
  background-color: #ebf4ff;
  font-size: 18px;
}

#user-team-table tr td i {
  font-size: 12px;
  color: var(--black-color);
}