/* Fonts */
:root {
    --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Montserrat",  sans-serif;
    --nav-font: "Poppins",  sans-serif;
    --default-color: #fff;
    --text-color: #333;
    --focus-color: #a41d21; 
    --hover-color: #ffc107;
    --black-color: #000000;
  }
  

  
  /* Smooth scroll */
  :root {
    scroll-behavior: smooth;
  }
  
  /*--------------------------------------------------------------
  # General Styling & Shared Classes
  --------------------------------------------------------------*/

  body {
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: var(--default-font);
  }

  
  a {
    color: var(--text-color);
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    color: color-mix(in srgb, var(--text-color), transparent 25%);
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--text-color);
    font-family: var(--heading-font);
  }
  
#main {
    margin-top: 60px;
    padding: 20px 30px;
}

.card {
  border-radius: 25px;
}

table th {
  font-size: 14px;
}

table td {
  font-size: 14px;
}

.modal-header{

  border-radius: 28px 28px 0 0;
}
.modal-content {
  border-radius: 30px;
}

@media (max-width: 576px) {
  .modal-dialog {
      max-width: 75%; /* Modal width on small screens */
      margin-left: 20%; /* Margin around modal */
  }

  .modal-content {
      font-size: 14px; /* Adjust font size for readability on small screens */
  }
}


.btn {
  border-radius: 15px;
}

.docu-title {
  color: var(--focus-color)
}

/* admin team -----------------------------------------------------------------------------------------------*/
#verify-btn {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  border-color: var(--focus-color);
  color: var(--focus-color);
}

#verify-btn:hover {
  background: var(--focus-color);
  border-color: var(--focus-color);
  color: var(--default-color);
}

/* end team --------------------------------------------------------------------------------------------*/


/* users ----------------------------------------------------------------------------------------------- */


/* Users Dashboard */
.dashboard-user {
  position: relative;
  height: 94vh;
  padding: 20px 30px;
  margin-top: -25px;
  margin-bottom: -20px;
  margin-left: -30px;
  margin-right: -30px;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 2px black;
  background-size: cover; /* Ensure the background covers the entire area */
  transition: background-image 1s ease; /* Smooth transition for background change */
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.dashboard-user h1 {

  color: white;

}


/* Translucent Overlay */

/* .dashboard-user::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.0); 
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2); 
  z-index: 0;
}


.dashboard-user  {
  position: relative;
  z-index: 1;
}  */

/* ------------------------------------------------------------------------------------------------------ */

#add-btn {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  border-color: var(--focus-color);
  color: var(--focus-color);
}

#add-btn:hover {
  background: var(--focus-color);
  border-color: var(--focus-color);
  color: var(--default-color);
}

#public-modal-botton-save {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  border-color: var(--focus-color);
  color: var(--focus-color);
}


#public-modal-botton-save:hover {
  background: var(--focus-color);
  border-color: var(--focus-color);
  color: var(--default-color);
}

#public-modal-botton-close {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.btn-outline-custom {
  background-color: transparent; /* Transparent background for outline */
  border-color: 2px solid var(--focus-color); /* Border color */
  color: var(--focus-color); /* Text color */
  padding: 0.5em 1em; /* Padding for the button */
  border-radius: 0.25rem; /* Rounded corners */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.btn-outline-custom:hover {
  background-color: var(--focus-color); /* Background color on hover */
  color: var(--default-color); /* Text color on hover */
}

#edit-btn,
#updatebtn-save {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  border-color: var(--focus-color);
  color: var(--focus-color);
}

#edit-btn:hover {
  background: var(--hover-color);
  border-color: var(--hover-color);
  color: var(--black-color);
}

#updatebtn-close {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

#updatebtn-save:hover {
  background: var(--hover-color);
  border-color: var(--hover-color);
  color: var(--default-color);
}

#file-table,
#link-table {
  text-decoration: underline;
  color: var(--focus-color)
}

#file-table:hover,
#link-table:hover {
  color: var(--hover-color);
}

table th,
table td {
    border: 0.5px solid #fff;
}

/* Add rounded corners to the outer table */
table th:first-child {
  border-top-left-radius: 20px;
}

table th:last-child {
  border-top-right-radius: 20px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 20px;
}
  
table tr:last-child td:last-child {
  border-bottom-right-radius: 20px;
}


table.table-documentation thead th {
  background-color: #95bea2; /* Replace with your desired color */
  color: #000; /* Change text color if needed */
}

table.table-documentation tbody td {
  background-color: #c3dfcc; /* Replace with your desired color */
  color: #000; /* Change text color if needed */
}

table.table-presentation thead th {
  background-color: #cabca6; /* Replace with your desired color */
  color: #000; /* Change text color if needed */
}

table.table-presentation tbody td {
  background-color: #e4ded6; /* Replace with your desired color */
  color: #000; /* Change text color if needed */
}

table.table-publications thead th {
  background-color: #8dbdc4; /* Replace with your desired color */
  color: #000; /* Change text color if needed */
}

table.table-publications tbody td {
  background-color: #bdd5d8; /* Replace with your desired color */
  color: #000; /* Change text color if needed */
}

table.table-research thead th {
  background-color: #85adce; /* Replace with your desired color */
  color: #000; /* Change text color if needed */
}

table.table-research tbody td {
  background-color: #b8d0e4; /* Replace with your desired color */
  color: #000; /* Change text color if needed */
}

/* Team Users design--------------------------------------------------------------------------------------------------------*/
.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.card-img-overlay .card-title{
font-size: 20px;
}

.card-img-overlay .center-assigned{
  font-size: 14px;
  text-align: center;
}

.card-img-top {
  border-radius: 25px;
}

#team-card-research {
  background-color: #85adce;
  max-width: 150px;
  border-color: #85adce;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  color: var(--black-color)
}

#team-card-publication {
  background-color: #8dbdc4;
  max-width: 150px;
  border-color: #8dbdc4;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  color: var(--black-color)
}


#team-card-presentation {
  background-color: #cabca6;
  max-width: 150px;
  border-color: #cabca6;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  color: var(--black-color)
}

#team-card-documentation {
  background-color: #95bea2;
  max-width: 150px;
  border-color: #95bea2;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  color: var(--black-color)
}

#team-card-research:hover,
#team-card-publication:hover,
#team-card-presentation:hover,
#team-card-documentation:hover 
{
  box-shadow: 1px 2px 2px var(--focus-color);
}


/* Button responsiveness for smaller screens */
@media (max-width: 1600px) {
  #team-card-research,
  #team-card-publication,
  #team-card-presentation,
  #team-card-documentation {
    max-width: 100px;
    font-size: 12px; /* Smaller font size for smaller screens */
    padding: 2px 5px; /* Adjust padding */
  }

  .card-title {
    font-size: 18px;
  }

  .card-img-overlay .card-title{
    font-size: 16px;
    }
    
    .card-img-overlay .center-assigned{
      font-size: 10px;
      text-align: center;
    }
    

}

/* Button responsiveness for smaller screens */
@media (max-width: 768px) {
  #team-card-research,
  #team-card-publication,
  #team-card-presentation,
  #team-card-documentation {
    font-size: 10px; /* Smaller font size for smaller screens */
    padding: 3px 8px; /* Adjust padding */
  }

  .card-title {
    font-size: 18px;
  }

  .card-img-overlay .card-title{
    font-size: 14px;
    }
    
    .card-img-overlay .center-assigned{
      font-size: 10px;
      text-align: center;
    }
    

}



/* end users ------------------------------------------------------------------------------------------------------------ */